* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__headerRight {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  padding: 10px;
}

.app__headerRight > p {
  margin-right: 5px;
}

.app__headerButton {
  cursor: pointer;
}

.app__headerAvatar {
  height: 30px !important;
  width: 30px !important;
}

.app__upload {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid lightgray;
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.app__header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.app__postsRight {
  margin-left: 20px;
}

.app > center > h3 {
  margin-bottom: 20px;
}
